.advantages {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  max-width: 1128px;
  margin: 54px auto 0;

  .advantages__header {
    width: 100%;

    h1 {
      text-align: left;
      margin: 0;
      font-weight: 600;
      font-size: 28px;
    }

    .cards {
      margin-top: 30px;
      display: grid;  
      grid-template-columns: repeat(3, 360px);
      grid-template-rows: 195px 195px;
      gap: 10px;

      div {

        border: 2px solid white;
        display: flex;
        flex-direction: column;
        background: #ffffffdd;
        text-align: left;
        padding: 10px 28px;
        border-radius: 24px;
        justify-content: flex-start;
        align-items: flex-start;
        width: 360px;
        height: 194px;
        gap: 10px;

        img {
          width: 80px;
          height: 80px;
        }

        p {
          text-align: left;
          font-size: 17px;
          font-weight: 600;
          font-family: sans-serif;
        }

        span {
          text-align: left;
          color: #9399a8;
          font-family:Mulish, sans-serif;
          font-size: 14px;
          font-weight:100;
          // letter-spacing: 1px;
        }
      }

      .person_img {
        grid-row: span 2;
        height: 400px;
        width: 390px;
        border-radius: 24px;
        overflow: hidden;

        .like_img {
          width: 100px;
          height: 100px;
          margin: 21px 0 0 21px;
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      div:not(.person_img) {
        height: 195px;
        width: 360px;
      }
    }
  }
}