.blog {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  max-width: 1128px;
  margin: 80px auto 0;

  .blog__header {
    width: 100%;
    display: flex;
    justify-content: space-between;

    h1 {
      text-align: left;
      margin: 0;
      font-size: 28px;
    }

    button {
      background: rgba(255, 255, 255, 0.555);
      backdrop-filter: blur(10px);
      border: 2px solid #ffffffcc;
      border-radius: 50px;
      width: 141px;
      height: 45px;
      color: #00b8d7;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      gap: 10px;
      font-size: 14px;
      white-space: nowrap;
      padding-left: 10px;
    }
  }

  .Cards {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-left: -13px;

    .card {
      width: 365px;
      height: 338px;
      background: rgba(255, 255, 255, 0.555);
      backdrop-filter: blur(10px);
      border-radius: 20px;
      border: 1px solid white;
      margin: 10px;
      padding: 10px;

      .container {
        padding: 12px 15px;

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 5px;
        max-width: 100%;
        overflow: hidden;

        p {
          color: #23282d;
          font-family: sans-serif;
          font-weight: 600;
          font-size: 18px;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          max-width: 100%;
        }

        .span {
          color: #9399a8;
          font-size: 14px;
          font-family: Arial, Helvetica, sans-serif;
          align-items: center;
          text-align: left;
          justify-content: flex-start;
          display: flex;
          white-space: normal;
          font-weight: 100;
          overflow-wrap: break-word;
          max-width: 100%;
          line-height: 20px;
        }

        .date_box {
          margin-top: 2px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 100%;
          padding: 5px 0;

          span {
            border: none;
            background-color: #edeff5;
            padding: 4px 8px;
            border-radius: 8px;
            display: block;
            color: #9399a8;
            font-family: Mulish;
            font-size: 14px;
            font-weight: 200;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }

          .date {
            font-weight: 200;
            font-size: 14px;
            border: none;
            background-color: #ffffffaa;
          }
        }
      }
    }
  }
}