.GroundHandling_box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 20px;
  max-width: 1138px;
  margin: 0 auto 0;
  position: relative;
  top: 310px;
  transform: translateY(-50%);

  .GroundHandling__header {
    text-align: left;
    width: 100%;

    h1 {
      font-size: 27px;
      font-weight: 700;
      margin-bottom: 10px;
      color: #333;
      margin-left: -10px;
    }

    p {
      font-size: 14px;
      line-height: 20px;
      font-weight: 100;
      color: #666;
      margin-left: -10px;
    }

    .container {
      margin-top: 30px;
      display: grid;
      margin-left: -20px;
      gap: 25px;
      grid-template-columns: repeat(3, 1fr);

      div {
        padding: 28px 0 0 28px;
        width: 363px;
        border: 1px solid #FFFFFF59;
        border-radius: 24px;
        height: 176px;
        background: rgba(255, 255, 255, 0.555);
        backdrop-filter: blur(10px);
        display: flex;
        flex-direction: column;
        gap: 20px;

        p {
          font-size: 18px;
          color: #000000;
          font-weight: 600;
          line-height: 26px;
        }

        img {
          width: 52px;
          height: 52px;
        }
      }
    }
  }
}