.GroundHandling_box {
    display: flex;
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: flex-start;
    padding: 20px;
    max-width: 1135px;
    margin: 0 auto 0px ; 
    position: relative; 
    top: 310px; 
    transform: translateY(-50%); 
    .GroundHandling__header {
    text-align: left;
    width: 100%; 
  
    h1 {
      font-size: 28px;
      font-weight: 700;
      margin-bottom: 10px;
      color: #333;
    }
  
    p {
      font-size: 14px;
      // font-family: Mulish;
      line-height: 20px;
      font-weight: 100;
      line-height: 1.5;
      color: #666;
    }
    .container {
      margin-top: 30px;
        display: flex;
        display: grid;
        margin-left: -24px;
        gap: 20px;
        grid-template-columns: repeat(3, 1fr); 
        div {
          padding: 28px 0 0 28px;
            width: 365px;
            border: 1px solid #FFFFFF59;
            border-radius: 24px;
            height: 176px;
            background: #ffffffc2;
            display: flex;
            flex-direction: column;
            gap: 20px;
  
            p {
              font-size: 18px;
              color: #000000;
              font-weight: 600;
              line-height: 26px;
            }
  
            img {
              width: 52px;
              height: 52px;
            }
        }
    }
  }
  
  
  }
  