.hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;

  .hero-content {
    display: flex;
    align-items: center;
    gap: 20px;

    .hero-image {
      width: 250px;
      height: auto;
    }

    .text-content {
      text-align: left;

      .hero-title {
        font-size: 42px;
        font-weight: bold;
        color: #333;
      }

      .hero-subtitle {
        font-size: 20px;
        color: #666;
        padding-left: 150px;
        margin-top: 32px;
      }
    }
  }
}


//inputs
.search-box {
  width: 1128px;
  max-width: 1200px;
  background: rgba(255, 255, 255, 0.555);
  border-radius: 1rem;
  padding: 1rem;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border: 2px solid #ffffff;

  .searchFooter {
    display: flex;
    margin-top: 25px;
    align-items: center;
    text-align: center;
    justify-content: start;
    gap: 25px;

    .switch-container {
      display: flex;
      align-items: center;

      .switch {
        position: relative;
        display: inline-block;
        width: 34px;
        height: 20px;

        input {
          opacity: 0;
          width: 0;
          height: 0;
        }

        .slider {
          position: absolute;
          cursor: pointer;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: #ccc;
          transition: 0.4s;
          border-radius: 34px;
          width: 34px;

          &::before {
            position: absolute;
            content: "";
            height: 24px;
            width: 24px;
            left: -2px;
            bottom: -2px;
            background-color: white;
            transition: 0.4s;
            border-radius: 50%;
          }
        }

        input:checked+.slider {
          background-color: #0077ff;
        }

        input:checked+.slider::before {
          transform: translateX(14px);
        }
      }

      .switch-btn {
        background: none;
        border: none;
        border-radius: 4px;
        padding: 0.5rem 1rem;
        font-size: 14px;
        cursor: pointer;
        color: #6d7586;
        transition: background 0.3s;
      }
    }

    .accommodation_button {
      display: flex;
      align-items: center;
      gap: 10px;
      padding-left: 5px;
      background: none;
      color: #6d7586;
      border: none;
      border-radius: 0.5rem;
      font-size: 1rem;
      cursor: pointer;
      transition: background 0.3s;
    }
  }

  .tabs {
    margin-top: 20px;
    border-radius: 12px;
    height: 60px;
    background-color: rgba(255, 255, 255, 0.886);
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    align-items: center;
    white-space: nowrap;

    .tab {
      background-color: #fff;
      display: flex;
      align-items: center;
      text-align: center;
      justify-content: center;
      gap: 10px;
      height: 50px;
      margin: 0px 5px;
      flex: 1;
      padding: 0.5rem;
      border: none;
      background: transparent;
      font-size: 1rem;
      color: #b5bbc9;
      cursor: pointer;

      img {
        transition: filter 0.3s ease;
        filter: brightness(0) saturate(100%) invert(56%) sepia(7%) saturate(358%) hue-rotate(160deg) brightness(103%) contrast(98%);
      }

      &:hover {
        color: #80dbeb;
        font-weight: bold;
        border: 1px solid #80dbeb;
        border-radius: 8px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
      }

      &:hover img {
        filter: brightness(0) saturate(100%) invert(50%) sepia(100%) saturate(1000%) hue-rotate(190deg) brightness(100%) contrast(95%);
      }

      // &.active {
      //   font-weight: bold;
      //   border: 1px solid #80dbeb;
      //   border-radius: 8px;
      // }
    }
  }




  .search-form {
    margin-top: 15px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;

    .input {
      width: 180px;
      height: 50px;
      border: none;
      flex: 1;
      min-width: 150px;
      padding: 0.8rem;
      border-radius: 20px;
      font-size: 1rem;
      color: #9399A8;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      transition: box-shadow 0.3s, transform 0.3s, border-color 0.3s;
    }

    .input:hover {
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    }

    .input:focus {
      outline: none;
      border: 1px solid #80dbeb;
    }

    .input_date {
      height: 50px;
      width: 183px;
      min-width: 150px;
      padding: 0.8rem;
      border: none;
      border-radius: 20px;
      font-size: 1rem;
      color: #9399A8;
      background: #fff url('/src/assets/icons/calendar_icon.svg') no-repeat right 0.8rem center;
      background-size: 1rem;
      cursor: pointer;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      transition: box-shadow 0.3s, transform 0.3s, border-color 0.3s;
    }

    .input_date:hover {
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    }

    .input_date:focus {
      outline: none;
      border: 1px solid #80dbeb;
    }

    .input_select {
      border-radius: 20px;
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      flex: 1;
      width: 100%;
      min-width: 150px;
      padding: 0.8rem 2.5rem 0.8rem 0.8rem;
      border: none;
      font-size: 1rem;
      color: #9399A8;
      background: #fff url('/src/assets/icons/arrow_down.svg') no-repeat right 0.8rem center;
      background-size: 1rem;
      cursor: pointer;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      transition: box-shadow 0.3s, transform 0.3s, border-color 0.3s;
    }

    .input_select:hover {
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    }

    .input_select:focus {
      outline: none;
      border: 1px solid #80dbeb;
    }

    .search-button {
      display: flex;
      align-items: center;
      text-align: center;
      justify-content: center;
      gap: 10px;
      padding: 0.8rem 1.5rem;
      background: #00b8d7;
      color: #fff;
      border: none;
      border-radius: 20px;
      font-size: 1rem;
      cursor: pointer;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

    .search-button:hover {
      background: #005bb5;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    }
  }

}