.hero-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    .hero-content {
      display: flex;
      align-items: center;
      gap: 20px;
  
      .hero-image {
        width: 250px;
        height: auto;
      }
  
      .text-content {
        text-align: left;
  
  
        .hero-title {
          font-size: 46px;
          font-weight: bold;
          color: #333;
          margin: 0;
        }
  
        .hero-subtitle {
          font-size: 20px;
          color: #666;
          padding-left: 150px;
          margin-top: 32px;
        }
      }
    }
  }