.HelpCenter_box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 20px;
  max-width: 1182px;
  margin: 0 auto 0;
  position: relative;
  top: 380px;
  transform: translateY(-50%);

  .HelpCenter__header {
    text-align: left;
    width: 100%;

    h1 {
      font-size: 28px;
      font-weight: 700;
      margin-left: 10px;
      color: #333;
    }

    .container {
      margin-top: 40px;
      width: 1138px;
      padding: 16px;
      height: 450px;
      margin-left: 3px;
      background: rgba(255, 255, 255, 0.555);
      backdrop-filter: blur(10px);
      border: 1px solid #ffffffa6;
      border-radius: 24px;
      display: flex;
      align-items: center;
      justify-content: center;

      .box {
        text-align: left;
        width: 1100px;
        height: 446px;
        align-items: center;
        gap: 20px;

        .box_main {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 15px;

          .img {
            width: 380px;
            max-width: 400px;
            height: 100%;
          }

          .help-center {
            display: flex;
            flex-direction: column;
            gap: 8px;
            width: 700px;

            .accordion-item {
              border-radius: 12px;
              background-color: rgba(255, 255, 255, 0.75);
              overflow: hidden;
              //box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
              transition: background-color 0.3s ease;

              .accordion-header {
                font-family: Mulish, sans-serif;
                display: flex;
                align-items: center;
                justify-content: space-between;
                font-size: 17px;
                font-weight: 500;
                padding: 15px 16px;
                cursor: pointer;
                transition: background-color 0.3s ease;
                width: 100%;
                border: none;
                background: none;
                &:hover {
                  background-color: #ffffff;
                }

                .accordion-icon {
                  width: 20px;
                  height: 20px;
                  transition: transform 0.3s ease;
                }
              }

              .accordion-content {
                max-height: 0;
                overflow: hidden;
                transition: max-height 0.3s ease, padding 0.3s ease;
                padding: 0 12px;
                background-color: #fff;

                p {
                  margin: 16px 0;
                  font-size: 16px;
                  line-height: 1.5;
                  color: #9399A8;
                  font-family: Mulish, sans-serif;
                }

                &.active {
                  max-height: 500px;
                  padding: 16px 16px;
                  background-color: transparent;
                }
              }
            }

            .accordion-button {
              display: flex;
              justify-content: center;
              align-items: center;
              padding: 14px 20px;
              font-size: 16px;
              font-weight: 500;
              border: none;
              border-radius: 8px;
              cursor: pointer;
              transition: background-color 0.3s ease;
              gap: 10px;
              background-color: #ffffff;
              color: #80dbeb;
              margin: 0 auto;
              width: 100%;
            }
          }
        }
      }
    }
  }
}