.header {
  width: 1128px;
  margin: 24px auto;
  padding: 10px;
  background-color: #ffffff;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;

  &__container {
    padding: 0 5px;
    width: 100%;
    height: 52px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: inherit;
  }

  &__logo {
    img {
      width: 100px;
      height: auto;
    }
  }

  &__nav {
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
    gap: 20px;
    white-space: nowrap;

    &-link {
      font-size: 16px;
      text-decoration: none;
      color: #9399a8;
      font-weight: 500;
      transition: color 0.3s;

      &:hover {
        color: #00b8d7;
      }
    }

    &-button {
      &--phone {
        display: flex;
        gap: 6px;
        padding: 8px;
        border-radius: 8px;
        background-color: #ffffff;
        color: #6d7586;
        font-size: 14px;
        font-weight: 500;
        cursor: pointer;
        transition: background-color 0.3s;
        border: none;

        i {
          transform: rotate(90deg);
        }

        &:hover {
          background-color: #e4e4e457;
          color: #00b8d7;
        }
      }

      &--language {
        gap: 6px;
        display: flex;
        align-items: center;
        // padding: 8px 12px;
        border: none;
        background-color: transparent;
        // font-size: 14px;
        color: #6d7586;
        cursor: pointer;

        .flag-icon {
          width: 18px;
          height: auto;
        }

        i {
          font-size: 1.2em;
        }

      }

      &--notification {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        border: none;
        border-radius: 50%;
        background-color: #e7f2fc;
        color: #6d7586;
        cursor: pointer;
        font-size: 15px;
        transition: background-color 0.3s;

        &:hover {
          background-color: #d4e9f9;
          color: #00b8d7;
        }

        i {
          font-size: 1.2em;
        }

        &__badge {
          position: absolute;
          top: -2px;
          right: -3px;
          background-color: #ff4d4d;
          color: white;
          font-size: 12px;
          font-weight: bold;
          padding: 2px 6px;
          border-radius: 12px;
        }
      }
    }

    .accountButton {
      background-color: transparent;
      border: none;
      cursor: pointer;

      img {
        height: 50px;
        width: 50px;
      }
    }
  }

  .header__nav-phone {
    display: flex;
    gap: 6px;
    padding: 8px;
    border-radius: 8px;
    background-color: #ffffff;
    color: #6d7586;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s;
    border: none;

    i {
      transform: rotate(90deg);
    }

    &:hover {
      background-color: #e4e4e457;
      color: #00b8d7;
    }

    i {
      margin-right: 5px;
    }
  }

  .tel_modal-container {
    margin-top: 150px;

    .modal {
      position: absolute;
      transform: translate(-50%, -50%);
      background-color: #ffffff85;
      border-radius: 15px;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
      padding: 10px;
      z-index: 1000;
      opacity: 0;
      /* Начальное состояние */
      transform: translate(-50%, -60%);
      /* Начальное смещение */
      transition: opacity 0.3s ease, transform 0.3s ease;
      /* Плавное появление и движение */

      &.visible {
        opacity: 1;
        /* Финальное состояние */
        transform: translate(-50%, -50%);
        /* Финальное положение */
      }

      &-content {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 300px;
        height: 70px;
        border-radius: 15px;
        border: 2px solid white;
        background-color: #ffff;
        // padding: 5px 5px;
        padding-right: 40px;
        font-size: 14px;
        line-height: 20px;
        text-align: left;
        word-spacing: 2px;
        font-family: Mulish, sans-serif;

        a {
          text-decoration: none;
          color: black;
          font-weight: 500;
        }
      } 
    }
  }

  @keyframes slide-up {
    from {
      transform: translateX(-50%) translateY(20px);
      opacity: 0;
    }

    to {
      transform: translateX(-50%) translateY(0);
      opacity: 1;
    }
  }





  //
  .language-selector {
    margin-right: 30px;
    position: relative;
  
    .header__nav-button {
      .flag-icon {
        width: 25px;
        height: 20px;
      }
    }
  
    .dropdown-menu {
      position: absolute;
      top: 100%;
      left: 0;
      margin-top: 18px;
      background: white;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      border-radius: 8px;
      padding: 10px;
      width: 210px;
      z-index: 1000;
  
      .toogle_box {
        display: flex;
        gap: 2px;
        align-items: center;
        justify-content: center;
        text-align: center;
        .toogle_btn {
          // padding: 5px;
          width: 90px;
          height: 35px;
          border-radius: 10px;
          font-weight: 500;
          background-color: #fff;
          color: #9399a8;
          // color: #80dbeb;
          // background-color:#80dbeb1d;
          border: none;
          &.active {
            background-color: #80dbeb1d;
            color: #80dbeb;
            border: none;
            border-radius: 8px;
          }
        }
      }
      span {
        color: #9399a8;
        font-family: Mulish, sans-serif;
        font-size: 14px;
      }
  
      .dropdown-item {
        display: flex;
        align-items: center;
        gap: 8px;
        padding: 8px;
        cursor: pointer;
        transition: background-color 0.2s;
  
        &.active {
          background-color: #80dbeb1d;
          color: #80dbeb;
          border: none;
          border-radius: 8px;
        }
  
        &:hover {
          background-color: #80dbeb1d;
          border-radius: 12px;
        }
  
        .flag-icon {
          width: 20px;
          height: 14px;
        }
  
        input[type="radio"] {
          appearance: none;
          width: 20px;
          height: 20px;
          margin-right: 10px;
          border: 2px solid #ccc;
          border-radius: 50%;
          background-color: white;
          position: relative;
          outline: none;
          margin-left: auto;
          cursor: pointer;
  
          &::before {
            content: "";
            display: block;
            width: 12px;
            height: 12px;
            border-radius: 50%;
            background-color: transparent;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            transition: background-color 0.2s, transform 0.2s;
          }
  
          &:checked {
            border: 1.5px solid #80dbeb;
            border-color: #80dbeb;
            background-color: #80dbeb1d;
  
            &::before {
              background-color: #80dbeb;
              transform: translate(-50%, -50%) scale(1);
            }
          }
        }
      }
    }
  }
}