.offers-card {
    margin-top: 60px;

    .offers-card__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        max-width: 1128px;
        margin: 0 auto;

        h1 {
            margin: 0;
        }

        .offers-card__header-buttons {
            display: flex;
            justify-content: center;
            gap: 12px;
            align-items: center;
            width: 327px;
            height: 48px;
            background: #ffffff59;
            border: 1px solid white;
            border-radius: 12px;
            margin-right: -5px;

            button {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 8px;
                width: 97px;
                height: 38px;
                border-radius: 8px;
                background: none;
                border: none;
                cursor: pointer;
                font-size: 14px;
                font-weight: 500;
                padding: 7px 20px;
                //color: #000;
                transition: background 0.3s;
                color: #abb1bf;

                img {
                    width: 15px;
                    height: 15px;
                }


            }
        }

        .offers-card__header-buttons .button.active {
            background: white;
            border: 1px solid #80dbeb;
            color: #80dbeb;
        }

        .offers-card__header-buttons .button.active img {
            filter: brightness(0) saturate(100%) invert(90%) sepia(17%) saturate(1411%) hue-rotate(162deg) brightness(98%) contrast(89%);
        }
    }

    .Cards {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 30px;
        gap: 5px;

        .card {
            width: 362px;
            height: 375px;
            background-color: #ffffffbd;
            border-radius: 20px;
            border: 1px solid white;
            margin: 10px;
            padding: 10px;

            .container {
                padding: 12px 15px;
                display: flex;
                flex-direction: column;
                align-items: start;
                gap: 5px;

                p {
                    color: #23282d;
                    font-family: sans-serif;
                    font-size: 16px;
                }

                span {
                    padding-top: 5px;
                    color: #9399a8;
                    font-size: 13px;
                    font-weight: 300;
                    font-family: sans-serif;
                    align-items: center;
                    text-align: center;
                    justify-content: center;
                    display: flex;
                    white-space: nowrap;
                    gap: 10px;
                }

                .price {
                    padding-top: 15px;
                    color: #23282d;
                    font-family: sans-serif;
                    font-weight: 550;
                    font-size: 18px;
                    
                }
            }
        }
    }

    .cardFooter {
        align-items: center;
        text-align: center;
        justify-content: center;
        display: flex;
        width: 100%;
        margin: -12px auto;

        button {
            border-radius: 12px;
            gap: 10px;
            align-items: center;
            text-align: center;
            justify-content: center;
            background-color: #ffffff;
            color: #80dbeb;
            border: none;
            margin-top: 20px;
            width: 1138px;
            height: 48px;
            cursor: pointer;

            span {
                padding-left: 10px;
            }
        }
    }
}