.reviews {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  max-width: 1120px;
  margin: 180px auto 0;

  .reviews__header {
    width: 100%;
    display: flex;
    justify-content: space-between;

    h1 {
      text-align: left;
      font-size: 28px;
      margin-left: 2px;
    }

    button {
      background: rgba(255, 255, 255, 0.555);
      backdrop-filter: blur(10px);
      border: 1px solid #ffffffcc;
      border-radius: 50px;
      width: 141px;
      height: 45px;
      color: #00b8d7;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      gap: 10px;
      font-size: 14px;
      white-space: nowrap;
      padding-left: 10px;
    }
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;

    .cards {
      width: 1138px;
      background: rgba(255, 255, 255, 0.555);
      backdrop-filter: blur(10px);
      border-radius: 24px;
      border: 1px solid white;
      display: flex;
      gap: 20px;
      padding: 16px;
      margin-left: -9px;

      .cardFirst,
      .cardSecond {
        border-radius: 18px;
        width: 542px;
        height: 215px;
        border: 1px solid white;
        background-color: #FFFFFF;
        padding: 16px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .card-content {
          .card-header {
            display: flex;
            align-items: center;
            gap: 5px;
            background-color: #f2f4fa;
            padding: 5px 5px;
            width: 90px;
            border-radius: 8px;

            img {
              width: 15px;
              height: 15px;
            }

            .category {
              font-size: 14px;
              color: #6d7586;
            }
          }

          .card-text {
            font-size: 15px;
            line-height: 1.5;
            font-family: "Roboto", Arial, sans-serif;
            color: #9399a8;
            margin: 10px 0;
            text-align: left;
          }

          .card-footer {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 20px;

            .author {
              display: flex;
              align-items: center;

              .author-image {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                margin-right: 10px;
              }

              .author-name {
                font-size: 14px;
                text-align: left;
                margin: 0;
              }

              .author-position {
                font-size: 13px;
                color: #9399a8;
                text-align: left;
                margin: 0;
                padding-top: 5px;
              }
            }

            .rating {
              font-size: 18px;
              color: #ffc107;
            }
          }
        }
      }
    }
  }
}