.shop {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  max-width: 1120px;
  margin: 60px auto 0;

  .shop__header {
    width: 100%;
    display: flex;
    justify-content: space-between;

    h1 {
      text-align: left;
      margin: 0;
      font-size: 28px;
      font-weight: 700;
    }

    button {
      font-family: Mulish, sans-serif;
      background: rgba(255, 255, 255, 0.555);
      backdrop-filter: blur(10px);
      border: 1px solid #ffffffcc;
      border-radius: 50px;
      width: 141px;
      height: 45px;
      color: #00b8d7;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      gap: 10px;
      font-size: 14px;
      white-space: nowrap;
      padding-left: 10px;

      img {
        border: 1px solid white;
        padding: 5px 5px;
        background-color: rgba(255, 255, 255, 0.65);
        border-radius: 50px;
      }
    }
  }

  .Cards {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-left: -18px;

    .card {
      width: 365px;
      height: 100%;
      background: rgba(255, 255, 255, 0.555);
      backdrop-filter: blur(10px);
      border-radius: 24px;
      border: 1px solid white;
      margin: 10px;
      padding: 12px 12px;

      .container {
        padding: 12px 15px;
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 5px;

        .div {
          display: flex;
          align-items: center;
          gap: 6px;

          .price_ball {
            font-family: Mulish, sans-serif;
            background-color: #ff3a3a1a;
            color: #eb5757;
            text-decoration: line-through;
            border-radius: 6px;
            gap: 20px;
            font-size: 13px;
            padding: 0 10px;
          }

          .ball {
            background-color: #6a67f81f;
            color: #6a67f8;
            border-radius: 6px;
            font-family: sans-serif;
            gap: 20px;
            font-size: 13px;
            padding: 0 10px;
          }
        }

        .ball {
          background-color: #6a67f81f;
          color: #6a67f8;
          border-radius: 6px;
          font-family: Mulish, sans-serif;
          gap: 20px;
          font-size: 13px;
          padding: 5px 10px;
        }

        span {
          color: #6D7586;
          font-size: 20px;
          align-items: center;
          text-align: center;
          justify-content: center;
          display: flex;
          white-space: nowrap;
          font-family: sans-serif;
          gap: 10px;
          line-height: 28px;
        }

        .price {
          font-family: Mulish, sans-serif;
          color: #23282d;
          font-weight: 700;
          font-size: 18px;
          line-height: 24px;
        }
      }
    }
  }
}