.CardsWeather {
  display: flex;
  gap: 14px;
  overflow-x: scroll;
  padding-bottom: 10px;

  &::-webkit-scrollbar {
    height: 4px;
  }

  &::-webkit-scrollbar-track {
    background: #f5f5f5;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background: #c0c4cc;
    border-radius: 10px;
  }

  .WeatherGradusCard {
    width: 308px;
    height: 530px;
    background-color: rgba(255, 255, 255, 0.54);
    border-radius: 16px;


    .weatherHeader {
      margin-top: 12px;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      justify-content: center;
      gap: 8px;

      p {
        font-size: 16px;
        font-weight: 500;
        color: #6D7586;
        font-family: Mulish, sans-serif;
        line-height: 24px;
      }

      h1 {
        font-size: 32px;
        font-weight: 600;
        font-family: Mulish, sans-serif;
      }
    }

    .weatherGradus {
      display: flex;
      flex-direction: column;
      gap: 8px;
      padding: 12px 16px;

      .time {
        display: flex;
        justify-content: space-between;

        p {
          font-size: 14px;
          font-family: Mulish, sans-serif;
          color: #23282D;
          letter-spacing: -1%;
        }

        .date {
          cursor: pointer;
          font-size: 14px;
          font-family: Mulish, sans-serif;
          color: #6D7586;
          letter-spacing: -1%;
          display: flex;
          gap: 3px;
        }
      }

      .gradus {
        margin-top: 8px;
        display: flex;
        gap: 6px;
        align-items: center;

        .max {
          width: 135px;
          text-align: left;
          padding: 8px 8px;
          background-color: white;
          border-radius: 8px;
          height: 31px;

          p {
            display: flex;
            gap: 4px;
            font-size: 12px;
            font-weight: 500;
            font-family: Mulish, sans-serif;
            line-height: 15px;

            span {
              font-size: 12px;
              font-weight: 500;
              font-family: Mulish, sans-serif;
              color: #23282D;
            }
          }
        }
      }
    }

    .swiper {
      margin-top: 10px;
      overflow-x: scroll !important;
      padding-bottom: 10px;
    }

    .swiper::-webkit-scrollbar {
      height: 4px;
    }

    .swiper::-webkit-scrollbar-track {
      background: #f5f5f5;
      border-radius: 10px;
    }

    .swiper::-webkit-scrollbar-thumb {
      background: #c0c4cc;
      border-radius: 10px;
    }

    .swiper-slide {
      flex-shrink: 1;
    }

    .weather-swiper {
      width: 100%;

    }

    .weatherLastWeek {
      display: flex;
      flex-direction: column;
      gap: 12px;
      width: 276px;
      text-align: left;
      background-color: #FFFFFF;
      border-radius: 8px;
      padding: 10px 8px;
      height: 234px;

      &__header {
        align-items: center;
        text-align: left;
        display: flex;
        gap: 6px;

        span {
          font-size: 14px;
          font-family: Mulish, sans-serif;
        }
      }

      &__main {
        display: flex;
        justify-content: space-between;
        text-align: center;
        align-items: center;

        p {
          font-size: 14px;
          font-family: Mulish, sans-serif;
          color: #81899A;
          font-weight: 400;
        }

        img {
          width: 24px;
          height: 24px;
        }

        .gradus {
          color: #23282D;
          font-size: 14px;
          font-family: Mulish, sans-serif;
        }
      }

      hr {
        margin-top: 0;
        width: 100%;
        border: 1px solid rgba(223, 225, 233, 0.19);
      }
    }
  }
}