.sidebar_item {
  display: flex;
  flex-direction: column;
  gap: 16px;

  .item_box {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 20px;


    input[type="radio"] {
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      width: 20px;
      height: 18px;
      border: 1px solid #B5BBC9;
      border-radius: 4px;
      outline: none;
      cursor: pointer;
      background-color: white;
      position: relative;
    }

    input[type="radio"]:checked {
      border: 1.5px solid #00B8D7;
      background-color: #00B8D7;


      &::before {
        content: "";
        display: block;
        width: 4px;
        height: 9px;
        border: solid white;
        border-width: 0 1.4px 1.4px 0;
        position: absolute;
        left: 5px;
        top: 1px;
        transform: rotate(45deg);

      }
    }

    .slider-full {
      background: linear-gradient(to right, #00B8D7 100%, #E3E5ED 0%);
    }

  }

  img.rotated {
    transform: rotate(180deg);
    transition: transform 0.3s ease;
  }



  label {
    display: flex;
    gap: 12px;
    font-size: 14px;
    cursor: pointer;
    font-weight: 400;
    line-height: 17px;
    color: #23282D;

    .flex-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }
  }
}
