.ticket-card {
  background-color: rgba(255, 255, 255, 0.59);
  border: 1px solid rgba(255, 255, 255, 0.65);
  width: 855px;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  font-family: Arial, sans-serif;

  height: 240px;
  gap: 16px;
}

.ticket-header {
  height: 36px;
  display: flex;
  justify-content: space-between;
  padding: 8px 16px;
  background-color: rgba(255, 255, 255, 0.65);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 100%;
}

.header-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.bonus {
  display: flex;
  align-items: center;
  gap: 10px;
}

.get-bonus {
  padding: 3px 8px;
  background-color: #7879f1;
  border-radius: 50px;
  font-size: 10px;
  color: white;
  cursor: pointer;
}

.header-btns {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  text-align: center;

  button {
    padding-top: 5px;
  }
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

.flight-info {
  display: flex;
  gap: 24px;
  align-items: start;
  justify-content: left;
  text-align: center;
  padding: 10px 16px;
}


.departure-arrival {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 10px;
  font-family: Mulish, sans-serif;
}

.details-link {
  font-family: Mulish, sans-serif;
  font-size: 14px;
  color: #00b8d7;
  display: flex;
  align-items: center;
  gap: 5px;
  text-decoration: none;
  background: none;
  border: none;
  cursor: pointer;
  width: 150px;
}

.details-link img {
  width: 15px;
}

.details-box {
  padding: 10px;
  background-color: #f1f3f8;
  border-radius: 8px;
}

.fare-details {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: start;
  text-align: left;
  justify-content: center;
  font-family: Mulish, sans-serif;

  p {
    font-size: 12px;
    color: #9399A8;

    strong {
      font-size: 12px;
      font-weight: 400;
      color: #23282D;
    }
  }
}

.baggage {
  color: #9399a8;
  display: flex;
  align-items: center;
  text-decoration: underline;
  gap: 5px;
  font-size: 13px;
  cursor: pointer;
  font-family: Mulish, sans-serif;
  img {
    padding-top: 3px;
  }
}

.return {
  font-family: Mulish, sans-serif;
  background: none;
  border: none;
  color: #9399a8;
  display: flex;
  font-size: 13px;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.price-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 10px;
  border-left: 1px solid #e3e5ed;

  .buy-btn {
    width: 191px ;
    font-family: Mulish, sans-serif;
  }
}

.old-price {
  font-size: 15px;
  color: #eb5757;
  text-decoration: line-through;
}

.new-price {
  font-size: 20px;
  font-weight: bold;
  color: #23282d;
}

.button-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.buy-btn {
  background-color: #00b8d7;
  color: white;
  padding: 12px;
  border-radius: 12px;
  border: none;
  cursor: pointer;
}

.select-tariff {
  background-color: white;
  color: #9399a8;
  padding: 12px;
  border: 1px solid #e3e5ed;
  border-radius: 12px;
  cursor: pointer;
  width: 191px;
}

