.ticket-card {
  background-color: rgba(255, 255, 255, 0.59);
  border: 1px solid rgba(255, 255, 255, 0.65);
  width: 855px;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  font-family: Arial, sans-serif;
  height: 100%;
  gap: 16px;
}

.ticket-header {
  height: 36px;
  display: flex;
  justify-content: space-between;
  padding: 8px 16px;
  background-color: rgba(255, 255, 255, 0.65);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 100%;
}

.header-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.bonus {
  display: flex;
  align-items: center;
  gap: 10px;
}

.get-bonus {
  padding: 3px 8px;
  background-color: #7879f1;
  border-radius: 50px;
  font-size: 10px;
  color: white;
  cursor: pointer;
}

.header-btns {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  text-align: center;

  button {
    padding-top: 5px;
  }
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

.flight-info {
  display: flex;
  align-items: start;
  justify-content: left;
  text-align: center;
  padding: 10px 16px;
  gap: 15px;
}

.departure-arrival {
  display: flex;
  gap: 10px;
  font-size: 10px;
  font-family: Mulish, sans-serif;
  align-items: start;
}

.details-link {
  font-family: Mulish, sans-serif;
  font-size: 14px;
  color: #00b8d7;
  display: flex;
  align-items: center;
  gap: 5px;
  text-decoration: none;
  background: none;
  border: none;
  cursor: pointer;
  width: 150px;
  margin-left: 16px;
  padding-bottom: 16px;
}

.details-link img {
  width: 15px;
}

.details-box {
  padding: 10px;
  background-color: #f1f3f8;
  border-radius: 8px;
}

.fare-details {
  max-width: 180px;
  width: 173px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: start;
  text-align: left;
  justify-content: center;
  font-family: Mulish, sans-serif;

  p {
    font-size: 12px;
    color: #9399A8;
    display: flex;
    align-items: center;

    strong {
      font-size: 12px;
      font-weight: 400;
      color: #23282D;
    }
  }
}

.baggage {
  color: #9399a8;
  display: flex;
  align-items: center;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  gap: 5px;
  font-size: 13px;
  cursor: pointer;
  font-family: Mulish, sans-serif;

  img {
    padding-top: 3px;
  }
}

.return {
  font-family: Mulish, sans-serif;
  background: none;
  border: none;
  color: #9399a8;
  display: flex;
  font-size: 13px;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.price-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 10px;
  border-left: 1px solid #e3e5ed;

  .buy-btn {
    width: 191px;
    font-family: Mulish, sans-serif;
  }
}

.old-price {
  font-size: 15px;
  color: #eb5757;
  text-decoration: line-through;
}

.new-price {
  font-size: 20px;
  font-weight: bold;
  color: #23282d;
}

.button-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.buy-btn {
  background-color: #00b8d7;
  color: white;
  padding: 12px;
  border-radius: 12px;
  border: none;
  cursor: pointer;
}

.select-tariff {
  background-color: white;
  color: #9399a8;
  padding: 12px;
  border: 1px solid #e3e5ed;
  border-radius: 12px;
  cursor: pointer;
  width: 191px;
}

.ChoosePlanModal {
  font-family: Mulish, sans-serif;
  position: fixed;
  z-index: 10000;
  width: 850px;
  backdrop-filter: blur(80px);
  border-radius: 12px;
  border: 1px solid #FFFFFF26;
  box-shadow: 0 4px 10px 10px rgba(0, 0, 0, 0.1);
  padding: 16px 30px 10px 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: #FFFFFFCC;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .ChoosePlanModal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    font-weight: 400;
    color: #81899A;
  }

  .trigger-btn {
    padding: 0 0 3px 1px;
    background: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 1px solid #B5BBC9;
    transition: background 0.3s ease, border 0.3s ease;

    .close-icon {
      font-size: 24px;
      font-family: Mulish, sans-serif;

      color: #81899A;
      transition: color 0.3s ease;
    }
  }

  .ChoosePlanModal-summary {
    font-family: Mulish, sans-serif;
    display: flex;
    align-items: center;
    text-align: right;
    justify-content: right;
    gap: 12px;
    margin-top: 20px;
    font-weight: 600;
    font-size: 16px;
    color: #81899A;

    .ChoosePlanModal-total {
      color: #23282D;
      font-family: Mulish, sans-serif;
      font-size: 16px;
      font-weight: 700;
    }

    .ChoosePlanModal-select-btn {
      margin-left: 10px;
      width: 160px;
      height: 40px;
      background: #00B8D7;
      color: white;
      padding: 10px 30px;
      border-radius: 10px;
      cursor: pointer;
      border: none;
      font-size: 14px;
      font-weight: 400;
      font-family: Mulish, sans-serif;
    }
  }
}

.baggage-content {
  overflow: hidden;
  position: absolute;
  z-index: 10000;
  left: 200px;
  top: -150%;
  height: 476px;
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
  display: flex;
  flex-direction: column;

  h1 {
    border-bottom: 1px solid #EAECF0;
    padding: 12px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 600;
    font-family: 'Mulish', sans-serif;
    color: black;

    .trigger-btn {
      background: none;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 24px;
      height: 24px;
      border-radius: 50%;
      border: 1px solid #C9D4E4;
      transition: background 0.3s ease, border 0.3s ease;

      .close-icon {
        font-size: 20px;
        color: #81899A;
        font-weight: 200;
        transition: color 0.3s ease;
      }

      &:active, &.active {
        border-color: #00B8D7;

        .close-icon {
          color: #00B8D7;
        }
      }
    }
  }

  .passenger-section {
    max-width: 600px;
    margin: 0 auto;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      width: 8px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #D0D5DD;
      border-radius: 24px;
    }

    &::-webkit-scrollbar-track {
      background-color: white;
    }

    h2 {
      margin-top: 8px;
      background-color: #e5f1fb;
      padding: 10px;
      font-size: 16px;
      text-align: left;
      width: 288px;
      font-weight: 500;
    }

    .baggage-card {
      display: flex;
      background-color: #ffffff;
      padding: 8px 1px 12px 34px;
      gap: 20px;
      border-bottom: 1px solid #47556914;

      &__icon {
        padding: 4px 16px 4px 15px;
        border-left: 1px solid #47556914;


        img {
          width: 50px;
          height: 50px;
        }
      }

      &__details {
        width: 154px;
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: center;

        h3 {
          margin: 0;
          font-size: 14px;
          font-weight: 600;
        }

        .weight {
          color: #27AE60;
          font-size: 14px;
        }

        .size {
          margin-top: 8px;
          font-size: 14px;
          color: #475569;
        }
      }
    }
  }
}




