* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Mulish, sans-serif;
  background: linear-gradient(180deg, #f0f9ff, #e6f7ff);
  height: 100%;
  position: relative;
}

.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 16px;
}

.background-elements {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.circle {
  position: absolute;
  border-radius: 50%;
  background: rgba(0, 119, 255, 0.1);
  filter: blur(2px);
  animation: float 8s ease-in-out infinite;
}

.circle:nth-child(1) {
  width: 300px;
  height: 300px;
  top: 10%;
  left: 20%;
  background: #c69ff885;
}

.circle:nth-child(2) {
  width: 400px;
  height: 400px;
  top: 10%;
  left: 70%;
  background: #c69ff84f;
}

.circle:nth-child(3) {
  width: 200px;
  height: 200px;
  top: 80%;
  left: 0%;
  background: #c69ff885;
}

.circle:nth-child(4) {
  width: 250px;
  height: 250px;
  top: 50%;
  left: 60%;
  /* background: rgba(255, 150, 0, 0.1); */
}

.circle:nth-child(5) {
  width: 300px;
  height: 300px;
  top: 50%;
  left: 10%;
  background: #5ce6fbcf
}

.circle:nth-child(6) {
  width: 400px;
  height: 400px;
  top: 80%;
  left: 50%;
  background: #ade8f1
}

.circle:nth-child(7) {
  width: 200px;
  height: 200px;
  top: 75%;
  left: 85%;
  background-color: #a500b829;
}

.circle:nth-child(8) {
  width: 250px;
  height: 250px;
  top: 15%;
  left: 85%;
  background: rgba(255, 150, 0, 0.1);
}
.circle:nth-child(9) {
  width: 250px;
  height: 250px;
  top: 90%;
  left: 85%;
  background: rgba(255, 150, 0, 0.1);
}
.circle:nth-child(10) {
  width: 250px;
  height: 250px;
  top: 90%;
  left: 15%;
  background: #a500b829;
}

@keyframes float {

  0%,
  100% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-20px);
  }
}


#app {
  text-align: center;
  margin-top: 20px;

  .hero-section {
    margin-bottom: 30px;
  }

  .header-main-buttons {
    margin-top: 10px;
  }
}